h1 {
    color: #ffffff;
    font-family: 'Goolge Sans Code', monospace;
}

.account-info {
    position: relative;
    width: 600px;
    padding: 2rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.account-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name,
.email,
.password,
.role {
    background-color: #fff;
    width: 100%;
    height: 35px;
    margin: 1rem;
    padding-left: 0.75rem;
    border: none;
    border-radius: 5px;
}

/* buttons */
.button {
    display: flex;
    justify-content: center;
    align-items: start;
}
.close-btn {
    padding: 0.25rem;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
}
.close-btn:hover {
    color: #fff;
    background-color: #0000ff;
    cursor: pointer;
}